<!DOCTYPE html>
<html>
<head>
  <title>Project Domains</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>Select Project Domain</h1>

<div class="card"><a href="/domain/Computer Technology">Computer Technology</a></div>
<div class="card"><a href="/domain/Artificial Intelligence">Artificial Intelligence</a></div>
<div class="card"><a href="/domain/Data Science">Data Science</a></div>
<div class="card"><a href="/domain/Mechanical">Mechanical</a></div>
<div class="card"><a href="/domain/Civil">Civil</a></div>
<div class="card"><a href="/domain/Electrical">Electrical</a></div>

<br>
<a href="/projects"><button>View All Projects</button></a>

</div>

</body>
</html>
